<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFDUzpFn3TUXoTuNwEkr5z64n8my4Lthc</string>
	<key>GCM_SENDER_ID</key>
	<string>661031167190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaolfp.DeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>deliveryapp-2b7ea</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryapp-2b7ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661031167190:ios:c11a6761ad1b43e453d577</string>
</dict>
</plist>